{% extends '../main.html' %}

{% block title %}
    账户信息
{% end %}

{% block style %}

{% end %}

{% block row %}
    <dl class="dl-horizontal col-md-6 col-md-offset-3 account-info">
        <dt>邮箱</dt>
        <dd>{{ user['user_email'] }}</dd>

        <dt>用户名</dt>
        <dd>{{ user['user_name'] }}</dd>

        <dt>性别</dt>
        <dd>{% if user['user_gender'] == '0' %}男
            {% else %}女{% end %}
        </dd>

        <dt>年龄</dt>
        <dd>{{ user['user_age'] }}</dd>

        <dt>身份</dt>
        <dd>{% if user['user_identity'] == '0' %}学生
            {% elif user['user_identity'] == '1' %}老师
            {% else %}其他{% end %}
        </dd>
    </dl>
{% end %}