
<style TYPE="text/css">

    .timer {
        display: none;
    }

</style>

<div class="page-header">
    <h3>实验已结束</h3>
</div>

<div class="timer" id="redirectT">
    <span>马上跳转到<a href="{{ redirecturl }}">收益页面</a></span><span class="countdown" title="离跳转还剩"></span><span>秒</span>
</div>

<script>

function redirect(url){
    document.location.href = url;
}

$(document).ready(function(){
    var redirectT = new Timer(5, "redirectT");
    redirectT.show();
    redirectT.start();
    setTimeout(redirect, 5000, '{{ redirecturl }}')
});

</script>
