<style type="text/css">
    .problem {
        font-size: 20px;
    }

    .highlight {
        color: red;
    }

    .timer {
        display: none;
    }

    .timers {
        margin-top: 20px;
        display: inline-block;
        float: right;
    }

    .page-header {
        margin-top: 0px;
    }

    .page-header h3 {
        display: inline-block;
    }

    .result {
        display: none;
        font-size: 20px;
    }
</style>

{% if train %}
<div class="alert alert-warning col-md-offset-1 col-md-10" role="alert" style="margin-top: 10px;">
    欢迎你进行训练，注意：训练时你的对手是一个智能AGENT。
</div>
{% end %}

<div class="page-header col-md-offset-1 col-md-10">
    <h3>
        第一部分（第二价格密封拍卖）
    </h3>
    <div class="timers">
        <div class="timer" id="sealedT">
            <span class="countdown" title="本轮拍卖剩余时间"></span><span>秒</span>
        </div>
        <div class="timer" id="resultT">
            <span class="countdown" title="下个部分马上到来"></span><span>秒</span>
        </div>
    </div>
</div>

<div class="col-md-offset-1 col-md-10">

    <div class="box effect7 problem">
        <ul>
            <li>竞拍者都以密封的形式独立出价，出价最高的竞拍者赢得拍卖物，但获胜者只需支付所有出价中的次高价。</li>
            <li>理论上，在本部分的拍卖规则下，报出你的真实估价是你的占优策略。</li>
            <li>拍卖物价值q服从{{ settings['minQ'] }}-{{ settings['maxQ'] }}的均匀分布，所有竞拍者的成本c均服从{{ settings['minC'] }}-{{ settings['maxC'] }}的均匀分布。也就是说，物品的估价为q-c。</li>
            <li>如果你的报价是所有报价中的最高价，而所有报价中的第二高价为b，那么你将支付b并获得物品，你的收益为(q-c)-b；否则，你的收益为0。</li>
            <li>请在下面的输入框写上您对物品的报价，并进行提交。</li>
        </ul>
    </div>

    <div class="well well-sm problem">
        <ul>
            <li>就你而言，你的<span class="highlight">成本c={{ player.get('cost', refresh=True) }}</span>。拍卖物<span class="highlight">价值q服从{{ settings['minQ'] }}-{{ settings['maxQ'] }}的均匀分布</span></li>
            {% if round == '2' %}<li>在上一轮中，<span class="highlight">你的对手们获得的收益高于你</span>。</li>{% end %}
            <li>注意：拍卖物的<span class="highlight">估价q-c在{{ settings['minQ']-player['cost'] }}到{{ settings['maxQ']-player['cost'] }}之间</span>。</li>
        </ul>
    </div>

    <div  style="margin-bottom: 30px;">
        <form class="form-inline">
            <div class="form-group col-md-3 has-success">
                <div class="input-group">
                    <input type="number" class="form-control input-lg" aria-describedby="addon" name="bid" required oninput="setCustomValidity('');"
                           value="0.1" min="0" max="10" step="0.1" oninvalid="setCustomValidity('必须输入'+this.min+'到'+this.max+'整数或一位小数');">
                    <span class="input-group-addon" id="addon">点</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <button class="btn btn-primary" type="submit" role="button">提交</button>
                </div>
            </div>
        </form>
    </div>

    <div class="well well-sm result">

    </div>

</div>

<script type="text/javascript" language="javascript">

function disableForm(form, msg){
    $('form').find("button[type='submit']").attr('disabled', 'disabled');
    $('form').find("input").attr('disabled', 'disabled');
    $("form").find("button[type='submit']").html(msg);
}

$(document).ready(function(){

    $("form").submit( function(event){
        event.preventDefault();

        var bid = $("input[name='bid']").val();
        sendCmd('sealed_bid', {bid:bid});
        ws.handler.wait();
    });

    ws.handler.wait = function(data, evt){
        disableForm("form", "等待对方出价");

        sendCmd('get_timeout', 'sealedrun');
        {% if train %}ws.handler.result();{% end %}
    };

    ws.handler.result = function(data, evt){
        disableForm("form", "本部分已结束");
        sendCmd('get_result', 'sealed');
        sendCmd('get_timeout', 'sealedresult');
    };

    ws.handler.showresult = function(data, evt){
        sealedT.close();
        $(".result").html(data);
        $(".result").show();
    };

    ws.handler.timeout = function(data, evt){
        if(!data.seconds)
            return;
        if(data.name == 'sealedrun'){
            sealedT.show();
            sealedT.set(data.seconds);
        }else if(data.name == 'sealedresult'){
            resultT.show();
            resultT.set(data.seconds);
        }
    };
    {% if train %}
    var sealedT = new Timer(10, "sealedT", ws.handler.result);
    sendCmd('get_timeout', 'sealedrun');
    {% else %}
    var sealedT = new Timer(10, "sealedT");
    var resultT = new Timer(10, "resultT");

    var substage = '{{ substage }}';
    if(substage == 'result'){
        ws.handler.result();
    } else if(substage == 'run'){
        sendCmd('get_timeout', 'sealedrun');
    } else if(substage == 'wait'){
        ws.handler.wait();
    }
    {% end %}

});
</script>
