<style type="text/css">
    .problem {
        margin-top: 10px;
        margin-bottom: 80px;
    }
    .problem p{
        font-size: 20px;
        text-indent: 2em;
    }

    .timer {
        display: none;
    }

    .timers {
        margin-top: 20px;
        display: inline-block;
        float: right;
        margin-right: 20px;
    }

    .page-header h3 {
        display: inline-block;
    }

    .result {
        display: none;
    }
</style>

<div class="page-header col-md-offset-1 col-md-10">
    <h3>
        第一阶段（第二价格密封拍卖阶段）{% if train %}<a class="back" href="javascript:void(0)"><small>返回</small></a>{% end %}
    </h3>
    <div class="timers">
        <div class="timer" id="sealedT">
            <span class="countdown" title="本轮拍卖剩余时间"></span><span>秒</span>
        </div>
        <div class="timer" id="resultT">
            <span class="countdown" title="下个阶段马上到来"></span><span>秒</span>
        </div>
    </div>
</div>

<div class=" col-md-offset-1 col-md-10">

    <form class="form-inline problem">
        <p>一物品的价值q服从6-10的均匀分布，所有竞拍者使用这一物品的成本c均服从0-4的均匀分布。特别的，您使用这个物品的成本为{{ player['cost'] }}。
            现在开始拍卖该物品，拍卖总时间为3分钟。</p>
        <div class="form-group col-md-3">
            <div class="input-group">
                <input type="number" class="form-control" aria-describedby="addon" name="bid" required oninput="setCustomValidity('');"
                       value="0.1" min="0" max="10" step="0.1" oninvalid="setCustomValidity('必须输入'+this.min+'到'+this.max+'整数或一位小数');">
                <span class="input-group-addon" id="addon">点</span>
            </div>
        </div>
        <div class="col-md-1"><button class="btn btn-primary" type="submit" role="button">提交</button></div>
    </form>

    <div class="well well-lg result">

    </div>

</div>

{% if train %}
<div class="alert alert-warning col-md-offset-1 col-md-10" role="alert">欢迎您进行训练，注意：此时您的对手是一个AGENT。</div>
{% end %}

<script type="text/javascript" language="javascript">

function disableForm(form, msg){
    $('form').find("button[type='submit']").attr('disabled', 'disabled');
    $('form').find("input").attr('disabled', 'disabled');
    $("form").find("button[type='submit']").html(msg);
}

$(document).ready(function(){

    $("form").submit( function(){
        var bid = $("input[name='bid']").val();
        send( {cmd:'sealedbid', data:{bid:bid}} );
        ws.handler.wait();
        return false;
    });

    ws.handler.wait = function(data, evt){
        disableForm("form", "等待对方出价");

        send( {cmd:'gettimeout', data:{'name': 'sealedrun'}} );
        {% if train %}ws.handler.result();{% end %}
    };

    ws.handler.result = function(data, evt){
        disableForm("form", "本阶段已结束");
        send( {cmd:'getresult', data:'sealed'} );
        send( {cmd:'gettimeout', data:{'name': 'sealedresult'}} );
    };

    ws.handler.showresult = function(data, evt){
        sealedT.hide();
        sealedT.stop();
        $(".result").html(data);
        $(".result").show();
    };

    ws.handler.timeout = function(data, evt){
        if(!data.seconds)
            return;
        if(data.name == 'sealedrun'){
            sealedT.show();
            sealedT.set(data.seconds);
        }else if(data.name == 'sealedresult'){
            resultT.show();
            resultT.set(data.seconds);
        }
    };
    {% if train %}
    var sealedT = new Timer(10, "sealedT", ws.handler.result);

    $("a.back").on("click", function(){
        send( {cmd: 'get'} );
        sealedT.stop();
        resultT.stop();
    });
    {% else %}
    var sealedT = new Timer(10, "sealedT");
    {% end %}
    var resultT = new Timer(10, "resultT");

    var substage = '{{ substage }}';
    if(substage == 'result'){
        ws.handler.result();
    } else if(substage == 'run'){
        send( {cmd:'gettimeout', data:{'name': 'sealedrun'}} );
    } else if(substage == 'wait'){
        ws.handler.wait();
    }
});
</script>
