<style>
    .intro{
        font-size: 20px;
        text-indent: 2em;
    }
</style>

<div class="page-header col-md-offset-1 col-md-10">
    <h2>训练说明<small></small></h2>
</div>

<div class="intro col-md-offset-1 col-md-10">

    <div class="well">
        <p>训练旨在让您熟悉相应的操作和概念，与正式实验并不完全一致。训练时你的对手是一个智能agent，而正式实验时你将面对真实报价人。</p>
        <p>本实验包含三个阶段，请在仔细阅读实验说明之后选择需要训练的阶段进行练习。</p>
    </div>

    <div class="box effect7">
        {% raw exp['exp_intro'] %}
    </div>

    <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-default sealed">第一阶段</button>
        <button type="button" class="btn btn-default english">第二阶段</button>
        <button type="button" class="btn btn-default englishopen">第三阶段</button>
    </div>
</div>

<script type="text/javascript" language="javascript">

$("button.sealed").on("click", function(){
    send( {cmd:'get', data:'sealed'} );
});

$("button.english").on("click", function(){
    send( {cmd:'get', data:'english'} );
});

$("button.englishopen").on("click", function(){
    send( {cmd:'get', data:'englishopen'} );
});

</script>

