<style>
    .intro p{
        font-size: 20px;
        text-indent: 2em;
    }
</style>

<div class="page-header col-md-offset-1 col-md-10">
    <h2>训练说明<small></small></h2>
</div>

<div class="intro col-md-offset-1 col-md-10">
    <p>
        每轮实验总共有三个部分组成，分别是第二价格密封拍卖，英式升价拍卖（价值隐藏），英式升价拍卖（价值公开）。请选择
        需要训练的部分。注意，训练旨在让您熟悉相应的操作和概念，训练时，系统会自动为您分配一个AGENT。训练与正式试验并不完全一致。
    </p>
    <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-default sealed">第二价格密封</button>
        <button type="button" class="btn btn-default english">公开（价值隐藏）</button>
        <button type="button" class="btn btn-default englishopen">公开（价值公开）</button>
    </div>
</div>
<script type="text/javascript" language="javascript">

$("button.sealed").on("click", function(){
    send( {cmd:'get', data:'sealed'} );
});

$("button.english").on("click", function(){
    send( {cmd:'get', data:'english'} );
});

$("button.englishopen").on("click", function(){
    send( {cmd:'get', data:'englishopen'} );
});

</script>

