{% extends '../main.html' %}

{% block title %}
    {{ exp['exp_title'] }}
{% end %}

{% block style %}
    <style type="text/css">
        .experiments {
            margin-left: 15px;
        }

        .nav-pills li {
            margin-right: 10px;
        }

        .nav-pills li .glyphicon{
            margin-right: 10px;
        }

        .description {
            background: #F5F5DC;
            font-size: 20px;
            text-indent: 2em;
        }
    </style>
{% end %}

{% block row %}
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h2>{{ exp['exp_title'] }}</h2>
        </div>

        {% if current_user and current_user.get('user_id') == exp['host_id'] %}
        <ul class="nav nav-pills" style="margin-bottom:20px;">
            <li role="presentation">
                <a href="/exp/{{ exp['exp_id'] }}/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>配置
                </a>
            </li>
            <li role="presentation">
                <a {% if exp['exp_status']=='0' %}href="/exp/{{ exp['exp_id'] }}/activate"
                {% else %}title="实验已被激活"{% end %}>
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>激活
                </a>
            </li>
            <li role="presentation">
                <a {% if exp['exp_status']=='1' %}href="/exp/{{ exp['exp_id'] }}/close"
                {% else %}title="实验尚未被激活或已结束"{% end %}>
                <span class="glyphicon glyphicon-off" aria-hidden="true" style="color: #c0c0c0"></span>关闭
                </a>
            </li>
            <li role="presentation">
                <a {% if exp['exp_status']=='1' %}href="/exp/{{ exp['exp_id'] }}/inprogress" target="_blank"
                {% else %}title="实验尚未被激活或已结束"{% end %}>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>监控
                </a>
            </li>
            <li role="presentation">
                <a {% if exp['exp_status']=='2' %}href="/exp/{{ exp['exp_id'] }}/result"
                {% else %}title="实验尚未结束"{% end %}>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>结果
                </a>
            </li>
        </ul>
        {% else %}
        <ul class="nav nav-pills" style="margin-bottom:20px;">
            <li role="presentation">
                <a {% if exp['exp_status']=='1' %}href="/exp/{{ exp['exp_id'] }}/inprogress" target="_blank"
                {% else %}title="实验尚未被激活"{% end %}>
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>正式试验
                </a>
            </li>
            <li role="presentation">
                <a {% if exp['exp_status']=='1' %}href="/exp/{{ exp['exp_id'] }}/train" target="_blank"
                {% else %}title="实验尚未被激活"{% end %}>
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>训练
                </a>
            </li>
            <li role="presentation">
                <a {% if exp['exp_status']=='1' %}title="实验尚未结束"
                {% else %}href="/exp/{{ exp['exp_id'] }}/result"{% end %}>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>查看收益
                </a>
            </li>
        </ul>
        {% end %}

        <div class="well well-lg description">
            {% raw exp['exp_des'] %}
        </div>

    </div>
{% end %}