<li class="list-group-item treatment" form-domain="[]treatments">
    <a href="javascript:void(0)" class="remove-treatment">
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: #AE4141;float: right"></span>
    </a>
    <h4>treatment - {{ treatment.title }}</h4>
    <input type="hidden" class="form-control" form-domain="code" value="{{ treatment.code }}">
    <div class="form-group">
        <label class="col-md-2 control-label">每组人数</label>
        <div class="input-group col-md-3">
            <input type="text" class="form-control" form-domain="groupsize" value="{{ treatment.groupsize }}">
            <div class="input-group-addon">人</div>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading"><h3 class="panel-title">拍卖物设置</h3></div>

        <ul class="list-group exp-item-list">

            <li class="list-group-item exp-item" form-domain="[]items">
                <div class="form-group">
                    <label class="col-md-2 control-label">物品标题</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" form-domain="title" value="{{ treatment.item.title }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">物品描述</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" form-domain="description">{{ treatment.item.description }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">图片</label>
                    <div class="col-md-8 item-img-list">
                        {% for img in treatment.item.images %}
                        <div class="item-img" form-domain="[]images">
                            <div class="col-md-11"><input type="text" class="form-control" form-domain="url" value="{{ img }}"></div>
                            <label class="control-label">
                                <a href="javascript:void(0)" class="remove-item-img" style="float:right"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: #AE4141;"></span></a>
                            </label>
                        </div>
                        {% end %}
                        <div class="item-img empty" form-domain="[]images" style="display: none;">
                            <div class="col-md-11"><input type="text" class="form-control" form-domain="url" value="http://img1.cache.netease.com/catchpic/B/B5/B5A44ADCC03AA55693322015F967C0A3.jpg"></div>
                            <label class="control-label">
                                <a href="javascript:void(0)" class="remove-item-img" style="float:right"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: #AE4141;"></span></a>
                            </label>
                        </div>
                    </div>
                    <a class="btn btn-default add-item-img" href="javascript:void(0)">添加图片</a>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">拍卖时间</label>
                    <div class="input-group col-md-3">
                        <input type="text" class="form-control" form-domain="duration" value="{{ treatment.item.duration }}">
                        <div class="input-group-addon">秒</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">拍卖轮数</label>
                    <div class="input-group col-md-3">
                        <input type="text" class="form-control" form-domain="num" value="{{ treatment.item.num }}">
                        <div class="input-group-addon">轮</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">价值分布类型</label>
                    <div class="input-group col-md-10 value-distributions">

                        {% for i, d in enumerate(treatment.item.distributions) %}
                        <div class="radio">
                            <label>
                                <input type="radio" form-domain="distribution" value="{{ d.code }}" {% if treatment.item.distribution.code == d.code %}checked{% end %}>
                                {{ d.title }}
                            </label>
                            <div class="distribution-params" style="display: {% if treatment.item.distribution.code == d.code %}inline-block{% else %}none{% end %}" form-domain="[]distributions">
                                <label></label>
                                <input type="hidden" form-domain="code" value="{{ d.code }}">
                                {% for param in d.get_params() %}
                                {% raw param[1] %}：<input type="text" form-domain="{{ param[0] }}" value="{{ param[2] }}" size="5">
                                {% end %}
                            </div>
                        </div>
                        {% end %}

                    </div>
                </div>
            </li>

        </ul>
    </div>
</li>
