<style type="text/css">

    .problem {
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .problem p{
        font-size: 20px;
        text-indent: 2em;
    }

    .bid-msg-list {
        margin-top: 10px;
        margin-left: 20px;
    }

    .bid-msg-list ul {
        height: 200px;
        overflow-y: auto;
    }

    li.message {
        margin-left: 5px;
        margin-top: 5px;
    }

    .message.empty {
        display: none;
    }

    .timer {
        margin-left: 10px;
        display: none;
    }

    .timers {
        margin-top: 40px;
    }

    .result {
        display: none;
    }

</style>

<div class="page-header col-md-offset-2 col-md-8">
    <h3>{% if train %}<a class="back" href="javascript:void(0)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>{% end %}
        英式公开拍卖阶段（价值{% if q is None %}隐藏{% else %}公开{% end %})</h3>
</div>

<div class="timers col-md-2">
    <div class="timer" id="totalT">
        <span class="countdown" title="本轮拍卖剩余时间"></span><span>秒</span>
    </div>
    <div class="timer" id="eachT">
        <span class="countdown" title="您提交价格剩余时间"></span><span>秒</span>
    </div>
    <div class="timer" id="resultT">
        <span class="countdown" title="下个阶段马上到来"></span><span>秒</span>
    </div>
</div>

<div class="col-md-offset-2 col-md-8">

    <div class="list-unstyled bid-msg-list">
        <p>竞价历史：</p>
        <ul class="list-unstyled well well-sm">
            {% for bid in bids %}
            <li class="message">{{ bid['username'] }}出价{{ bid['bid'] }}</li>
            {% end %}
            <li class="message empty"></li>
        </ul>
    </div>

    <form class="form-inline problem">
        {% if q is None %}
            <p>一物品的价值q服从6-10的均匀分布，所有竞拍者使用这一物品的成本c均服从0-4的均匀分布。特别的，您使用这个物品的成本为{{ player['cost'] }}。
            现在开始拍卖该物品，报价步长为0.1，拍卖总时间为3分钟</p>
        {% else %}
            <p>一物品的价值为{{ q }}，所有竞拍者使用这一物品的成本c均服从0-4的均匀分布。特别的，您使用这个物品的成本为{{ player['cost'] }}。
            现在开始拍卖该物品，报价步长为0.1，拍卖总时间为3分钟。</p>
        {% end %}
        <div class="form-group col-md-3">
            <div class="input-group">
                <input type="number" class="form-control" aria-describedby="addon" name="bid" required oninput="setCustomValidity('');" value="{% if bids %}{{ bids[-1]['bid']+0.1 }}{% else %}0.1{% end %}"
                       min="{% if bids %}{{ bids[-1]['bid']+0.1 }}{% else %}0.1{% end %}" max="10" step="0.1" oninvalid="setCustomValidity('必须输入'+this.min+'到'+this.max+'整数或一位小数');">
                <span class="input-group-addon" id="addon">点</span>
            </div>
        </div>
        <div class="col-md-1"><button class="btn btn-primary" type="submit" role="button">提交</button></div>
    </form>

    <div class="well well-lg result">

    </div>

</div>

{% if train %}
<div class="alert alert-warning col-md-offset-2 col-md-8" role="alert">这是训练，您的对手是一个AGENT。</div>
{% end %}

<script type="text/javascript" language="javascript">

function disableForm(form){
    $(form).find("button[type='submit']").attr('disabled', 'disabled');
    $(form).find("input").attr('disabled', 'disabled');
}

$(document).ready(function(){

    $("form").submit( function(){
        var bid = $("input[name='bid']").val();
        send( {cmd:'englishbid', data:{bid:bid}} );
        return false;
    });

    function addMessage(txt){
        var new_message = $(".message.empty").clone(true);
        new_message.removeClass("empty");
        new_message.html(txt);
        $(".message.empty").before(new_message);
        send( {cmd:'gettimeout', data:{'name': 'englisheach'}} );
    };

    ws.handler.englishbid = function(data, evt){
        addMessage(data.username + "出价" + data.bid);
        var minBid = (parseFloat(data.bid) + 0.1).toFixed(1);
        document.getElementsByName('bid')[0].min = minBid;
        $("form input").val(minBid);
    };

    ws.handler.result = function(data, evt){
        disableForm("form");
        $("form").find("button[type='submit']").html("您已出价，请等待");
        send( {cmd:'getresult', data:'{% if q is None %}english{% else %}englishopen{% end %}'} );
        send( {cmd:'gettimeout', data:{'name': 'englishresult'}} );
    };

    ws.handler.showresult = function(data, evt){
        totalT.hide();
        totalT.stop();
        eachT.hide();
        eachT.stop();
        $(".result").html(data);
        $(".result").show();
    };

    ws.handler.timeout = function(data, evt){
        if(!data.seconds)
            return;
        if(data.name == 'englishtotal'){
            totalT.show();
            totalT.set(data.seconds);
        }else if(data.name == 'englisheach'){
            eachT.show();
            eachT.set(data.seconds);
        }else if(data.name == 'englishresult'){
            resultT.show();
            resultT.set(data.seconds);
        }
    }

    {% if train %}
    var totalT = new Timer(10, "totalT", ws.handler.result);
    var eachT = new Timer(10, "eachT", ws.handler.result);

    $("a.back").on("click", function(){
        send( {cmd: 'get'} );
        totalT.stop();
        eachT.stop();
        resultT.stop();
    });
    {% else %}
    var totalT = new Timer(10, "totalT");
    var eachT = new Timer(10, "eachT");
    {% end %}
    var resultT = new Timer(10, "resultT");

    var substage = '{{ substage }}';
    if(substage == 'result'){
        ws.handler.result();
    } else if(substage == 'run'){
        send( {cmd:'gettimeout', data:{'name': 'englishtotal'}} );
        send( {cmd:'gettimeout', data:{'name': 'englisheach'}} );
    }
});

</script>
