{% extends '../main.html' %}

{% block title %}
监控面板 - {{ exp['exp_title'] }}
{% end %}

{% block js %}
    <script type="text/javascript" language="javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/util.js"></script>
{% end %}

{% block style %}
<style type="text/css">
    .toolbar {
        font-size: 20px;
        float: right;
        margin-right: 50px;
    }
    .error {
        display: none;
    }

    .error .error-detail {
        display: none;
        margin-top: 20px;
    }
</style>
{% end %}

{% block row %}
<div class="toolbar">
    <a href="javascript:void(0)" title="聊天室">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
    </a>
    <a href="/exp/{{ exp['exp_id'] }}" title="返回实验首页">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    </a>
</div>

<div class="col-md-8 col-md-offset-2" id="main">

    {% module xsrf_form_html() %}

</div>

<div class="error">
    <div class="page-header">
        <h2>错误<small></small></h2>
    </div>

    <div class="">
        <span style="font-size: 20px;">网页发生错误，请稍后刷新网页。若重复出现错误，请联系管理员。</span>
        <a href="javascript:void(0)" onclick="$('.error-detail').toggle()">详细信息</a>
        <div class="error-detail" style="display: none">

        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">

        var ws = new WebSocket("ws://{{ request.host }}/exp/{{ exp['exp_id'] }}/websocket");

        var send = function (data, callback) {
            waitForConnection(function () {
                ws.send( JSON.stringify(data) );
                if (typeof callback !== 'undefined') {
                    callback();
                }
            }, 5);
        };

        var sendCmd = function(cmd, data, callback){
             waitForConnection(function () {
                ws.send( JSON.stringify({cmd: cmd, data: data}) );
                if (typeof callback !== 'undefined') {
                    callback();
                }
            }, 5);
        }

        var waitForConnection = function (callback, interval) {
            if (ws.readyState === 1) {
                callback();
            } else {
                setTimeout(function () {
                    waitForConnection(callback, interval);
                }, interval);
            }
        };

        function msgHandler(ws){
            var that = this;
            ws.onmessage = function (evt) {
                msg = JSON.parse(evt.data);
                if( that[msg.cmd] ){
                    that[msg.cmd](msg.data, evt);
                }
            };
        };

        ws.handler = new msgHandler(ws)

        $(document).ready(function(){
            ws.handler.replace = function(data, evt){
                 $("#main").html(msg.data);
            };

            ws.handler.wait = function(data, evt){
                 $(".waiting").show();
            };

            ws.handler.error = function(data, evt){
                var errorDIV = $(".error").clone(true);
                errorDIV.find(".error-detail").html(data);
                $("#main").html("");
                $("#main").append(errorDIV);
                errorDIV.show();
            }

            ws.handler.redirect = function(data, evt){
                document.location.href = data;
            };

            sendCmd('get');

            var heartbeat = setInterval(sendCmd, 30000, 'heartbeat');

        });

</script>
{% end %}