{% extends '../main.html' %}

{% block title %}
    Dashboard
{% end %}

{% block js %}
    <script type="text/javascript" language="javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% end %}

{% block style %}

{% end %}

{% block row %}
    <div class="col-md-8 col-md-offset-2" id="main">

        {% module xsrf_form_html() %}

    </div>

    <script type="text/javascript" language="javascript">

        var ws = new WebSocket("ws://{{ request.host }}/exp/{{ exp['exp_id'] }}/websocket");

        var send = function (data, callback) {
            waitForConnection(function () {
                ws.send( JSON.stringify(data) );
                if (typeof callback !== 'undefined') {
                    callback();
                }
            }, 5);
        };

        var sendCmd = function(cmd, data, callback){
             waitForConnection(function () {
                ws.send( JSON.stringify({cmd: cmd, data: data}) );
                if (typeof callback !== 'undefined') {
                    callback();
                }
            }, 5);
        }

        var waitForConnection = function (callback, interval) {
            if (ws.readyState === 1) {
                callback();
            } else {
                setTimeout(function () {
                    waitForConnection(callback, interval);
                }, interval);
            }
        };

        function msgHandler(ws){
            var that = this;
            ws.onmessage = function (evt) {
                msg = JSON.parse(evt.data);
                if( that[msg.cmd] ){
                    that[msg.cmd](msg.data, evt);
                }
            };
        };

        ws.handler = new msgHandler(ws)

        $(document).ready(function(){

            ws.handler.replace = function(data, evt){
                 $("#main").html(msg.data);
            };

            ws.handler.wait = function(data, evt){
                 $(".waiting").show();
            };

            ws.handler.redirect = function(data, evt){
                document.location.href = data;
            };

            sendCmd('get');

            var heartbeat = setInterval(sendCmd, 30000, 'heartbeat');

        });

    </script>
{% end %}