{% extends '../main.html' %}

{% block css %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/custom.css" rel="stylesheet">
{% end %}

{% block title %}
    训练 - {{ treatment.title }}
{% end %}

{% block style %}
<style type="text/css">
    .timer span.countdown {
        font-family: Helvetica, Microsoft YaHei, Arial, sans-serif;
        font-size: 20px;
        color: #151515;
        font-weight: bold;
    }

    .toolbar {
        font-size: 20px;
        float: right;
        margin-right: 50px;
    }

    .error {
        display: none;
    }

    .error .error-detail {
        display: none;
        margin-top: 20px;
    }

    .sidebar {
        padding: 0px 30px;
        border-left: 1px solid #eee;
        margin-top: 60px;
        padding-top: 20px;
    }

    .sidebar h4 {
        background-color: #F3F3F3;
        padding: 8px;
    }

    p {
        text-indent: 2em;
    }

    .page-header {
        margin-top: 0px;
    }

    .account-info {
        margin-bottom: 20px;
    }

    .chat {
        position: fixed;
        right: 30px;
        bottom: 3px;
        width: 30%;
        display: none;
        background-color: white;
    }

    .chat ul {
        overflow-y: auto;
        height: 300px;
    }

    .empty {
        display: none;
    }

</style>
{% end %}

{% block row %}

    <div class="col-md-7 col-md-offset-1" id="main">
        {% module xsrf_form_html() %}
    </div>

    <div class="error">
        <div class="page-header col-md-offset-1 col-md-10">
            <h2>错误<small></small></h2>
        </div>

        <div class="col-md-offset-1 col-md-10">
            <span style="font-size: 20px;">网页发生错误，请稍后刷新网页。若重复出现错误，请联系管理员。</span>
            <a href="javascript:void(0)" onclick="$('.error-detail').toggle()">详细信息</a>
            <div class="error-detail" style="display: none">

            </div>
        </div>
    </div>

    <div class="sidebar col-md-3">

        <div class="account-info">
            <h4>账户信息</h4>
            <p>邮箱: {{ current_user['user_email'] }}</p>
            <p>用户名: {{ current_user['user_name'] }}</p>
            <p>性别: {% if current_user['user_gender'] == '0' %}男
                {% else %}女{% end %}</p>
            <p>年龄: {{ current_user['user_age'] }}</p>
            <p>身份: {% if current_user['user_identity'] == '0' %}学生
                {% else %}其他{% end %}</p>
        </div>

        <div class="alert alert-warning" role="alert" style="margin-top: 40px;">

        </div>
    </div>

    <div class="chat well">
        <ul class="list-unstyled well well-sm" id="msg-container" style="height: 300px; overflow-y: auto;">
        </ul>
        <form class="" id="sendmsg">
            <div class="col-md-10">
                <input type="text" class="form-control" name="text" required>
            </div>
            <button class="btn btn-primary" type="submit">发送</button>
        </form>
    </div>

    <script type="text/javascript" src="/static/js/ws.js"></script>
    <script type="text/javascript" language="javascript">
        var ws = new WS("ws://{{ request.host }}/train/{{ treatment.get_stage() }}/websocket");
        $(document).ready(function(){
            ws.sendCmd('get');
        });

        function newChatMsg(text){
            $(".chat ul").append('<li class="msg">' + text + '</li>');
        }

        $(document).ready(function(){

            $("form#sendmsg").submit(function(event){
                event.preventDefault();

                var text = $(this).find("input[type='text']").val();
                newChatMsg(text);
                $(this).find("input[type='text']").val('');
            });

            $("a#toggle-msg").on("click", function(){
                    $(".chat").toggle();
            });

        });
    </script>
{% end %}