<style>

</style>

<div class="page-header col-md-offset-1 col-md-10">
    <h2>等待<small></small></h2>
</div>

<div class="alert alert-warning col-md-offset-1 col-md-10" role="alert">
    {{ message }}
</div>


<script type="text/javascript" language="javascript">

$(document).ready(function(){

    ws.GroupReady = function(data, evt){
        alert("是否准备好？");
        ws.sendCmd('ready');
    };

    ws.Ready = function(data, evt){
        $(".alert").removeClass("alert-info");
        $(".alert").addClass("alert-warning");
        $(".alert").html("等待其他人做好准备，注意：实验可能随时开始！");
    }

    {% if substage == 'GroupReady'%}
     ws.GroupReady();
    {% elif substage == 'Ready' %}
     ws.Ready();
    {% end %}

});

</script>

