{% extends '../main.html' %}

{% block title %}
    组件 - {{ treatment.title }}
{% end %}

{% block style %}

{% end %}

{% block row %}
    <div class="jumbotron col-md-8 col-md-offset-2" style="margin-top: 50px;">
        <div class="page-header">
            <h2>{{ treatment.title }}</h2>
        </div>
        <div class="well well-lg" style="background:#F5F5DC">{{ treatment.description }}</div>
        {% if issubclass(treatment, Train) %}
        <div>
            <a href="/train/{{ treatment.__name__ }}" class="btn btn-primary" role="button">开始训练</a>
        </div>
        {% end %}
    </div>

{% end %}