<style>
    .intro p{
        font-size: 20px;
        text-indent: 2em;
    }
</style>

<div class="page-header col-md-offset-1 col-md-10">
    <h2>实验说明<small></small></h2>
</div>

<div class="col-md-offset-1 col-md-10 intro">
    <div class="box effect7">
        {% raw exp['exp_intro'] %}
    </div>
</div>


<form class="col-md-offset-1 col-md-10">
    <div class="form-group">
        <div class="">
            <button class="btn btn-primary" type="submit" role="button">报到</button>
        </div>
    </div>
</form>

<script type="text/javascript" language="javascript">

function disableForm(){
    $("form button[type='submit']").attr("disabled", "disabled");
    $("form button[type='submit']").html("已报到");
}

$(document).ready(function(){

    ws.handler.deny = function(data, evt){
        alert(data);
        $("form button[type='submit']").html(data);
    };

    ws.handler.GroupReady = function(data, evt){
        disableForm();
        alert("是否准备好？");
        sendCmd('ready');
    };

    ws.handler.Ready = function(data, evt){
        disableForm();
        sideWarn("等待其他人做好准备，注意：实验可能随时开始！");
    };

    ws.handler.Inpool = function(data, evt){
        disableForm();
        sideWarn("主持人正在努力分组，请耐心等待。。。");
    };

    $("form").submit( function(e){
        event.preventDefault();
        disableForm();
        sendCmd('register');
    });

    {% if substage == 'GroupReady'%}
     ws.handler.GroupReady();
    {% elif substage == 'Ready' %}
     ws.handler.Ready();
    {% elif substage == 'Inpool' %}
     ws.handler.Inpool();
    {% else %}
     sideInfo("请仔细阅读实验流程介绍，并点击报到按钮以确认加入实验。");
    {% end %}

});

</script>

