<style type="text/css">
    .common-info {
        font-size: 20px;
        background-color: #FBF5F5;
    }

    .private-info {
        font-size: 20px;
        background-color: #F9F9D3;
    }

    p {
        text-indent: 1em;
    }

    .highlight {
        font-weight: bold;
    }

    .timer {
        display: inline-block;
        float: right;
        display: none;
    }

    .page-header {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .page-header h3 {
        display: inline-block;
    }

    .result {
        display: none;
        font-size: 20px;
    }

    .tip {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="page-header col-md-offset-1 col-md-10">
    <div style="font-size: 25px; display: inline-block; margin-top: 20px; font-weight: bold;">
        <div style="display: inline-block;">第{{ group.get('round_', refresh=True) }}轮 -
        {% if mainstage == 'info' %}信息获取拍卖（高价值概率p={{ round(float(settings['prob']), 3) }}）
        {% elif mainstage == 'a' %}A物品拍卖（高价值概率p={{ round(float(settings['prob']), 3) }}）
        {% elif mainstage == 'b' %}B物品拍卖（高价值概率p={{ round(float(settings['prob']), 3) }}）
        {% else %}结束（高价值概率p={{ round(float(settings['prob']), 3) }}）
        {% end %}</div>
        <div class="timer" id="sealedT">
            <span style="font-size: 18px;">剩余时间：</span><span class="countdown"></span><span style="font-size: 20px;">秒</span>
        </div>
    </div>
</div>

<div class="col-md-offset-1 col-md-10">

    <div class="box effect7 common-info">
        <ul>
            <li>在A、B两物品序贯拍卖中，所有竞拍者对每件物品的估价服从<span class="highlight">{5, 10}</span>上概率
                <span class="highlight">p={{ round(float(settings['prob']), 3) }}</span>的两点（伯努利）分布
                （即估价为10的概率为{{ round(float(settings['prob']), 3) }}，估价5的概率为{{ round(1 - float(settings['prob']), 3) }}）。</li>
        </ul>
    </div>

    <div class="box effect7 private-info">
        就你而言:
        <ul>
            <li><span class="highlight">拍卖物A对你的价值为{{ group.get('aq', refresh=True)[player.pid] }}。</span></li>
            {% if mainstage == 'a'%}
                {% if player.pid == group.get('results', refresh=True).get('info', {}).get('winner') %}
                <li>你赢得了信息获取拍卖，所以现在告知<span class="highlight">拍卖物B对你的价值为{{ group.get('bq', refresh=True)[player.pid] }}。</span></li>
                {% else %}
                <li>你未赢得信息获取拍卖， 所以还不能告知拍卖物B对你的价值。</li>
                {% end %}
            {% end %}
            {% if mainstage == 'b'%}
                {% if player.pid == group.get('results', refresh=True).get('info', {}).get('winner') %}
                <li>你赢得了信息获取拍卖。</li>
                {% else %}
                <li>你未赢得信息获取拍卖。</li>
                {% end %}
                {% if player.pid == group.get('results', {}).get('a', {}).get('winner') %}
                <li>你赢得了A物品拍卖。</li>
                {% else %}
                <li>你未赢得A物品拍卖，且获胜者的报价为{{ group['results']['a']['winprice'] }}。</li>
                {% end %}
                <li><span class="highlight">拍卖物B对你的价值为{{ group.get('bq', refresh=True)[player.pid] }}。</span></li>
            {% end %}
            {% if mainstage == 'end' %}
                {% if player.pid == group.get('results', refresh=True).get('info', {}).get('winner') %}
                <li>你赢得了信息获取拍卖。</li>
                {% else %}
                <li>你未赢得信息获取拍卖。</li>
                {% end %}
                <li>你赢得了A物品拍卖。你将不再参加B物品拍卖。本轮实验即将结束！</li>
            {% end %}
        </ul>
    </div>
    <div class="tip">
        {% if mainstage == 'info' %}
            现在进行的是<span class="highlight">信息获取拍卖</span>:<br/>
            <p>为了在A物品拍卖前获得对物品B的价值信息，你愿意付出多少？请在输入框报价（报价只保留一位小数）。</p>
        {% elif mainstage == 'a' %}
            现在进行的是<span class="highlight">A物品拍卖</span>:<br/>
            <p>为了赢得A物品拍卖，你愿意付出多少？请在输入框报价（报价只保留一位小数）。</p>
        {% elif mainstage == 'b' %}
            现在进行的是<span class="highlight">B物品拍卖</span>:<br/>
            <p>为了赢得B物品拍卖，你愿意付出多少？请在输入框报价（报价只保留一位小数）。</p>
        {% elif mainstage == 'end' %}
            <p>你已经完成了本轮实验，请等待组内其他人完成实验。</p>
        {% end %}
    </div>

    <div class="col-md-offset-2" style="margin-top: 10px;">
        <!--<form id="bid">-->
            <!--<div class="">-->
                <!--<input type="number" class="" name="bid" style="font-size: 25px; padding: 3px; border-color: #3c763d; border-radius: 5px; width: 200px; padding-left: 10px; margin-bottom: 0px;"-->
                           <!--required oninput="setCustomValidity('');" min="0" step="0.1"-->
                           <!--value="{% if mainstage == 'a' %}{{ group.get('aq')[player.pid] }}{% elif mainstage == 'b' %}{{ group.get('bq')[player.pid] }}{% else %}0.1{% end %}"-->
                           <!--oninvalid="setCustomValidity('必须输入大于'+this.min+'的整数或一位小数');">-->
                <!--<button class="btn btn-primary" type="submit" role="button" style="margin-bottom: 10px; margin-left: 50px;">提交</button>-->
            <!--</div>-->
        <!--</form>-->
        <form class="form-inline" id="bid">
          <div class="form-group form-group-lg has-success">
            <input type="number" class="form-control input-lg" name="bid" style="font-size: 20px;"
                           required oninput="setCustomValidity('');" min="0" step="0.1"
                           value="{% if mainstage == 'a' %}{{ group.get('aq')[player.pid] }}{% elif mainstage == 'b' %}{{ group.get('bq')[player.pid] }}{% else %}0.1{% end %}"
                           oninvalid="setCustomValidity('必须输入大于'+this.min+'的整数或一位小数');">
                <button class="btn btn-primary" type="submit" role="button" style="margin-bottom: 5px; margin-left: 50px;">提交</button>
          </div>
        </form>
    </div>

    <div class="box effect7 result">

    </div>

</div>

<script type="text/javascript" language="javascript">

function disableForm(form, msg){
    $(form).find("button[type='submit']").attr('disabled', 'disabled');
    $(form).find("input").attr('disabled', 'disabled');
    $(form).find("button[type='submit']").html(msg);
}

$(document).ready(function(){

    $("form#bid").submit( function(event){
        event.preventDefault();

        var bid = $("input[name='bid']").val();
        if(! confirm("你报价为{}，确认提交该报价吗？".format(bid)))
			return ;
        ws.sendCmd('sealed_bid', {bid:bid});
        ws.wait();
    });

    ws.refresh = function(data, evt) {
        sealedT.stop();
        ws.sendCmd('get');
    };

    ws.wait = function(data, evt){
        disableForm("form#bid", "你已报过价，等待对方出价");
    };

    ws.end = function(data, evt){
        disableForm("form#bid", "本轮实验已完成");
        //ws.sendCmd('get_result');
    };

    ws.result = function(data, evt){
        disableForm("form#bid", "本阶段已结束");
        ws.sendCmd('get_result');
        ws.sendCmd('get_timeout');
    };

    ws.showresult = function(data, evt){
        $(".result").html(data);
        $(".result").show();
    };

    ws.timeout = function(data, evt){
        if(data.seconds){
            sealedT.show();
            sealedT.set(data.seconds);
        }
    };

    var sealedT = new Timer(10, "sealedT");
    sealedT.stop();

    {% if mainstage == 'end' %}
    ws.end();
    {% elif substage == 'wait' %}
    ws.wait();
    ws.sendCmd('get_timeout');
    {% elif substage == 'result' %}
    ws.result();
    {% elif substage == 'run' %}
    ws.sendCmd('get_timeout');
    {% end %}

});
</script>
