<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- jQuery -->
    <script type="text/javascript" language="javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- self -->
    <title>{% block title %}实验 {{ exp['exp_title'] }} 配置{% end %}</title>
    <style type="text/css">
        body {
            background-color: #c0c0c0;
        }

        .item-img {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">实验设置</span>
                    <a href="/help/expsettings" target="_blank">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="float:right; color:white;"></span>
                    </a>
                </div>
                <form class="form-horizontal new-exp" action="" method="post">
                    <div class="panel-body" form-domain="experiment">
                        {% module xsrf_form_html() %}

                        {% block baseinfo %}
                        <div class="exp-baseinfo">
                            <div class="form-group">
                                <label class="col-md-2 control-label">实验标题</label>
                                <div class="col-md-8"><input type="text" class="form-control" form-domain="title" value="{{ settings.title }}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">实验描述</label>
                                <div class="col-md-8"><textarea class="form-control" rows="3" form-domain="description">{{ settings.description }}</textarea></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">实验说明</label>
                                <div class="col-md-8"><textarea class="form-control" rows="3" form-domain="introduction">{{ settings.introduction }}</textarea></div>
                            </div>
                        </div>
                        {% end %}

                        {% block sessions %}
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-presentation-list" role="tablist" class="">

                                {% for i, s in enumerate(settings.sessions) %}
                                <li role="presentation" class="{% if i == 0 %}active{% end %}">
                                    <a href="#{{ i }}" aria-controls="{{ i }}" role="tab" data-toggle="tab">
                                        <span class="session-id">session</span>
                                    </a>
                                </li>
                                {% end %}

                                <li role="presentation" class="add-session-presentation">
                                    <a href="javascript:void(0)" aria-controls="" role="tab" data-toggle="tab">
                                        <span class="session-id">*</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content session-list">

                                {% for i, s in enumerate(settings.sessions) %}
                                <div role="tabpanel" class="tab-pane session{% if i == 0 %} active{% end %}" id="{{ i }}" form-domain="[]sessions">
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">session描述</label>
                                        <div class="col-md-8"><textarea class="form-control" rows="2" form-domain="description">{{ s.description }}</textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">人数比例</label>
                                        <div class="input-group col-md-3">
                                            <input type="text" class="form-control" form-domain="ratio" value="{{ s.ratio }}">
                                            <div class="input-group-addon">%</div>
                                        </div>
                                    </div>

                                    <ul class="list-group treatment-list">
                                        {% for t in s.treatments %}
                                        {% module Template(t.template, treatment=t) %}
                                        {% end %}
                                    </ul>

                                    <button type="button" class="btn btn-default add-exp-treatment"  data-toggle="modal" data-target="#new-treatment-modal">新Treatment</button>
                                </div>
                                {% end %}

                                <!-- empty session -->
                                <div role="tabpanel" class="tab-pane session empty" id="" form-domain="[]sessions">
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">session描述</label>
                                        <div class="col-md-8"><textarea class="form-control" rows="2" form-domain="description">空session</textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">人数比例</label>
                                        <div class="input-group col-md-3">
                                            <input type="text" class="form-control" form-domain="ratio" value="100">
                                            <div class="input-group-addon">%</div>
                                        </div>
                                    </div>

                                    <ul class="list-group treatment-list">
                                    </ul>

                                    <button type="button" class="btn btn-default add-exp-treatment"  data-toggle="modal" data-target="#new-treatment-modal">新Treatment</button>
                                </div>

                            </div>

                            <div class="modal fade" id="new-treatment-modal" tabindex="-1" role="dialog" aria-labelledby="new-treatment">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">选择新treatment拍卖类型</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="list-group">
                                                {% for baseexp in baseexp_list %}
                                                <a href="javascript:void(0)" class="list-group-item new-treatment" code="{{ baseexp.code }}">{{ baseexp.title }}</a>
                                                {% end %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    {% end %}

                    <div class="panel-footer">
                        {% block footer_buttons%}
                        <button type="submit" class="btn btn-primary" disabled>确认修改</button>
                        <a type="cancel" class="btn btn-default" href="/exp/{{ exp['exp_id'] }}">取消</a>
                        {% end %}
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<script type="text/javascript" language="javascript">
// add startsWith function to javascript Strings
String.prototype.startsWith = function(compareStr){
    return this.indexOf(compareStr) == 0;
}

// for get value from cookies
function getCookie(name) {
  var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
  return r ? r[1] : undefined;
};

// add _xsrf when ajax post
$.post = function(url, args, callback) {
    args._xsrf = getCookie("_xsrf");
    $.ajax({url: url, data: args, dataType: "text", type: "POST",
        success: function(response) {
        callback(response);
    }});
};

// for form name adjust
adjustForm = function(){
    // remove form name
    $("form").find("[form-name]").each(function(i){
        $(this).removeAttr("form-name");
    });

    // adjust list form domains
    $("form").find("[form-domain]").each(function(i){
        var form_domain = $(this).attr("form-domain");
        if(form_domain.startsWith("[]")){
            $("form").find("[form-domain='"+form_domain+"']:not([form-name])").each(function(i){
                $(this).attr("form-name", i + form_domain);
            });
        }
    });

    // adjust form names
    $("form").find("input:not([name='_xsrf']), textarea").each(function(i){
        var prefix = "";
        var isEmpty = false;
        $(this).parents("[form-name]").each(function(i){
            if($(this).hasClass("empty"))
                isEmpty = true;
            prefix = $(this).attr("form-name")+ "-" + prefix;
        });
        if(! isEmpty){
            prefix += $(this).attr("form-domain");
            $(this).attr("name", prefix);
         }
    });
};

function parseExpSettingsForm(data, domains, value){
    if(domains.length == 1){
        data[domains[0]] = value;
    } else {
    if(domains[0].indexOf("[]") >= 0){
        var tmp = domains[0].split("[]");
        var index = parseInt(tmp[0]);
        var list_name = tmp[1];
        if(! data[list_name])
            data[list_name] = new Array();
            var i = 0;
            for(; i < data[list_name].length; i++){
                if(data[list_name][i].id == index)
                    break;
            }
            if(i == data[list_name].length){
                data[list_name].push({id:index});
            }
            data[list_name].sort(function(a, b){return a.id>b.id?1:-1});
            domains.shift();
            parseExpSettingsForm(data[list_name][i], domains, value);
        }else {
            if(! data[domains[0]])
                data[domains[0]] = {};
        parseExpSettingsForm(data[domains[0]], domains, value);
        }
    }
};

$(document).ready(function(){

    adjustForm();

    // handle add treatment post from server
    $("a.new-treatment").on("click", function(){
        var type = $(this).attr("code");
        $.post("/exp/newtreatment", data={code:type}, function(result){
            $(".session.active").children("ul.treatment-list").append(result);
            $("#new-treatment-modal").modal('hide');
            adjustForm();
        });
    });
    // handle remove treatment
    $(".treatment-list").on("click", "a.remove-treatment", function(){
        $(this).parents("li.treatment").remove();
        adjustForm();
    });

    // handle add session
    $(".nav-tabs").on("click", ".add-session-presentation a", function(){
        var session_count = $("div.session").length;

        var session_presentation = $("li.add-session-presentation");
        var new_session_presentation = session_presentation.clone(true);

        session_presentation.removeClass("add-session-presentation");
        session_presentation.children("a").attr("href", "#session" + session_count);
        session_presentation.children("a").attr("aria-controls", "session" + session_count);
        session_presentation.find("span.session-id").html("session");
        new_session_presentation.appendTo("ul.tab-presentation-list");

        var empty_session = $("div.session.empty");
        var new_session = empty_session.clone(true);

        empty_session.removeClass("empty");
        empty_session.attr("id", "session" + session_count);

        new_session.appendTo("div.session-list");
        empty_session.tab('show');
    });

    // handle hide and show when distribution changes
    $("form").on("click", "input[form-domain='distribution']", function(){
        $(this).parents("div.value-distributions").find(".distribution-params").css("display", "none");
        $(this).parents("div.radio").find(".distribution-params").css("display", "inline-block");
    });

    // handle remove item img
    $("form").on("click", "a.remove-item-img", function(){
        $(this).parents(".item-img").remove();
    });
    // handle add item img
    $("form").on("click", "a.add-item-img", function(){
        var item_img_list = $(this).parents(".form-group").find(".item-img-list");
        var empty_item_img = item_img_list.find(".empty.item-img")
        var new_empty_item_img = empty_item_img.clone(true);
        empty_item_img.removeClass("empty");
        empty_item_img.show();
        item_img_list.append(new_empty_item_img);
    });

    $("form").submit(function(e){
        e.preventDefault();
        adjustForm();

        var arguments = $("form").serializeArray();
        var data = {};
        for(var i=0; i < arguments.length; i++){
            parseExpSettingsForm(data, arguments[i].name.split("-"), arguments[i].value);
        }

        // remove empty sessions(sessions without any treatment)
        var session_list = new Array();
        var total_ratio = 0;
        for(var i=0; i < data.sessions.length; i++){
            var s = data.sessions[i];
            if(! s.treatments)
                continue;
            // remove treatment which has no items
            var treatment_list = new Array();
            for(var j=0; j < s.treatments.length; j++){
                if(s.treatments[j].items.length > 0){
                    s.treatments[j].id = treatment_list.length;
                    treatment_list.push(s.treatments[j])
                }
            }
            s.treatments = treatment_list;
            if(s.treatments.length > 0){
                s.id = session_list.length;
                session_list.push(s);
                total_ratio += parseFloat(s.ratio);
            }
        }
        data.sessions = session_list;

        // change ratio
        for(var i=0; i < data.sessions.length; i++){
            data.sessions[i].ratio = data.sessions[i].ratio / total_ratio * 100;
        }

        delete data._xsrf

        // alert when no session exists
        if(data.sessions.length == 0){
            alert("您并未为实验添加任何treatment");
        } else{  // post setting to server
            $.post("", {data: JSON.stringify(data)}, function(result){

            });
        }
    });

});
</script>
</body>
</html>