<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/auction.png" style="width: 20px;"></a>
      <a class="navbar-brand" href="/"><span>拍卖设计与实验系统</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/self">个人主页</a></li>
          {% if current_user and current_user['user_ishost'] == '1' %}
          <li><a href="/treatmentlist">组件列表</a></li>
          {% else %}
          <li><a href="/trainlist">训练场</a></li>
          {% end %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">账户<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if not current_user %}
                  <li><a href="/?next={{ request.uri }}">登录</a></li>
                  <li><a href="/account/register">注册</a></li>
                {% else %}
                  <li><a href="/account/">{{ current_user['user_name'] }}</a></li>
                  <li><a>申请主持</a></li>
                  <li><a href="/account/logout">登出</a></li>
                  {% end %}
              </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
