{% extends 'main.html' %}

{% block title %}
    个人主页
{% end %}

{% block style %}
<style type="text/css">
    .tips {
        margin-top: 30px;
    }

    .tips li {
        margin-bottom: 20px;
    }
</style>
{% end %}

{% block row %}
<div class="col-md-6 col-md-offset-1">
    <div class="col-md-11">
        <div class="page-header">
            <h3>
                正在进行的&nbsp;
                <span class="badge" style="background-color: #337AB7;">&nbsp;{{ len(exp_activated) }}&nbsp;</span>
            </h3>
        </div>
        <div class="col-md-offset-1 list-group">
            {% for exp in exp_activated %}
            <a class="list-group-item col-md-7" href="/exp/{{ exp['exp_id'] }}">{{ exp['exp_title'] }}</a>
            {% end %}
            {% if not exp_activated %}
            <span>目前没有实验可供参与。</span>
            {% end %}
        </div>
    </div>
    <div class="col-md-11">
        {% if current_user['user_ishost'] == '1' %}
        <div class="page-header">
            <h3>
                我创建的&nbsp;
                <span class="badge" style="background-color: #337AB7;">&nbsp;{{ len(exp_established) }}&nbsp;</span></h3>
        </div>
        <div class="col-md-offset-1 list-group">
            {% for exp in exp_established %}
            <a class="list-group-item col-md-7" href="/exp/{{ exp['exp_id'] }}">{{ exp['exp_title'] }}</a>
            {% end %}
            <div class="col-md-12" style="padding: 20px;">
                <a class="btn btn-primary" href="/exp/new">创建新实验</a>
            </div>
        </div>
        {% end %}
    </div>
    <div class="col-md-11">
        <div class="page-header">
            <h3>
                我参与的&nbsp;
                <span class="badge" style="background-color: #337AB7;">&nbsp;{{ len(exp_participated) }}&nbsp;</span>
            </h3>
        </div>
        <div class="col-md-offset-1 list-group">
            {% for exp in exp_participated %}
            <a class="list-group-item col-md-7" href="/exp/{{ exp['exp_id'] }}">{{ exp['exp_title'] }}</a>
            {% end %}
            {% if not exp_participated %}
            <span>尚未参与任何实验。</span>
            {% end %}
        </div>
    </div>
</div>
<div class="col-md-5 hidden-xs hidden-sm">
    <div class="well col-md-offset-2 col-md-8 tips">
        <p>提示:</p>
        <ul>
            {% if current_user['user_ishost'] == '0' %}
            <li>想要定制您的专属实验？请先<a>申请成为主持人</a>。</li>
            {% end %}
        </ul>
    </div>
</div>
{% end %}